# ------------------------------------------
# Monit configuration file for ElasticSearch
# ------------------------------------------

check process elasticsearch with pidfile /var/run/elasticsearch/elasticsearch.pid
  start program = "/etc/init.d/elasticsearch restart" with timeout 60 seconds
  stop program  = "/etc/init.d/elasticsearch stop"
  if cpu > 90% for 15 cycles then alert
  if totalmem > 90% for 15 cycles then alert
  if loadavg(15min) greater than 10 for 50 cycles then alert
  group elasticsearch

check host elasticsearch_connection with address 127.0.0.1
  if failed url http://127.0.0.1:{{ elasticsearch_http_port }}/ with timeout 15 seconds then alert
  group elasticsearch
